name: Firebase Hosting Preview

on:
  pull_request:

permissions:
  contents: read
  checks: write
  pull-requests: write

jobs:
  preview:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Deploy to Firebase Hosting (Preview)
        if: github.event.pull_request.head.repo.fork == false
        uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          repoToken: "${{ secrets.GITHUB_TOKEN }}"
          firebaseServiceAccount: "${{ secrets.FIREBASE_SERVICE_ACCOUNT_MIDNIGHTL9_18551 }}"
          projectId: "midnightl9-18551"
          channelId: "pr-${{ github.event.pull_request.number }}"
